@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0px;
    background-color: #303030;
}

.flex {
    display: flex;
}
.center-content{
    justify-content: center;
}
.middle-content{
    align-content: center;
    flex-wrap: wrap;
}
.fill-h{
    height: 100%;
}
.fill-w{
    width: 100%;
}

.basepage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(100vw - 201px);
    max-width: calc(100vw);
    height: calc(100vh - 61px);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #fff;
}

hr{
    border-color: #636363 !important;
}