#app {
    height: 100vh;
    max-height: 100dvh;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
  }