.div{
    width: calc(100vw - 200px);
    height: 60px;
    border-bottom: solid 1px #636363;
}
.menuButton{
    margin-left: 15px;
    visibility: hidden;
}


@media only screen and (max-width: 800px) {
    .div{
        position: fixed;
        width: 100vw;
    }
    .menuButton{
        visibility: visible;
    }
}